@{
    ViewData["Title"] = "Compete";
}

@section css{
    <link rel="stylesheet" href="~/css/compete.css" asp-append-version="true" />
}

<div style="padding: 15px;">
    <h1 style="font-weight: bold; font-size:27px;">Compete</h1>
</div>
