@{
    ViewData["Title"] = "Compete";
}

@section css{
    <link rel="stylesheet" href="~/css/compete.css" asp-append-version="true" />
}

<div style="padding: 15px;">

    <h1 style="font-weight: bold; font-size:27px;">Compete</h1>

    <div class="my-groups-content">

        <h1 class="my-groups-title">My Groups</h1>

        <div class="my-groups-box">
            <a class="group-link" href="@Url.Action("SoccerLovers", "Compete")">Soccer Lovers</a>
        </div>

        <div class="my-groups-box">
            <a class="group-link" href="@Url.Action("WeightLifters", "Compete")">Weight Lifters</a>
        </div>

        <div class="my-groups-box">
            <a class="group-link" href="@Url.Action("OutdoorRunners", "Compete")">Outdoor Runners</a>
        </div>

    </div>
    <div style="padding-top: 45px; padding-left: 25px;">
        <button class="my-group-button">Join Existing Group</button>
        <button class="my-group-button">Create A Group</button>
    </div>
    


</div>
