/* BEGIN HOME */

.home-header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.home-header h1 {
    font-weight: bold;
}

.home-header {
    color: #212121;
}

.workout {
    display: flex;
    justify-content: space-around;
    background-color: white;
    align-items: center;
    border-radius: 10px 10px;
    margin: 0px 15px 0px 15px;
}

.workout > .workout-list {
    padding: 5px;
}

.workout .workout-list > h3 {
    font-weight: 600;
    font-size: 17px;
}

.workout .workout-list ul {
    font-weight: 600;
    font-size: 12px;
    border-radius: 10px 10px;
    background-color: #d7d7d7;
}

/* END HOME */