/* BEGIN LAYOUT */
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin: 15px 0px 15px 0px;
    background-color: #effeff;
    font-family: 'Open Sans', sans-serif;
}

.fixed-bottom a.btn {
    flex: 1;
    text-align: center;
}

.fixed-bottom i.fas {
    margin-right: 5px; /* give some space between the icon and the text */
}

#navbar {
    background-color: #3C979F !important;
    padding: 25px 10px 25px 10px;
}

.navbar a {
    justify-content: center;
    margin: 0px;
    border: none;
    background-color: #3C979F;
}

.navbar i {
    color: #212121;
}

.navbar i.active {
    color: white;
}

/* END LAYOUT */

/* BEGIN HOME */

.home-header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.home-header h1 {
    font-weight: bold;
}

.home-header {
    color: #212121;
}

/* END HOME */

/* BEGIN WORKOUT */

.workout-header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    color: #212121;
}

.workout-header-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.workout-header-btns i {
    padding: 0px 10px 0px 10px;
}

/* END WORKOUT */

/* BEGIN COMPETE */

/* END COMPETE */