/* BEGIN LAYOUT */
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin: 15px 0px 15px 0px;
    background-color: #deebec;
    font-family: 'Poppins', sans-serif;
}

.fixed-bottom a.btn {
    flex: 1;
    text-align: center;
}

.fixed-bottom i.fas {
    margin-right: 5px; /* give some space between the icon and the text */
}

#navbar {
    background-color: #3C979F !important;
    padding: 25px 10px 25px 10px;
}

.navbar a {
    justify-content: center;
    margin: 0px;
    border: none;
    background-color: #3C979F;
}

.navbar i {
    color: #212121;
}

.navbar i.active {
    color: white;
}

.back {
    display: flex;
    justify-content: center;
    align-items: center;
}

.back svg {
    width: 30px;
}

.back a {
    text-decoration: none;
    margin: 0px;
}

/* END LAYOUT */