@{
    ViewData["Title"] = "Home";
}

@section css{
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
}

<div class="home-header">
    <div>
        <h3>Welcome</h3>
        <h1 style="font-size: 30px;">Username</h1>
    </div>
    <i class="fa-solid fa-circle-user fa-4x"></i>
</div>

<div class="workout">
    <i class="fa-regular fa-calendar fa-4x"></i>
    <div class="workout-list">
        <h3>Today's Workout</h3>
        <div>
            <ul>
                <li>Bench Press</li>
                <li>Dumbell Curls</li>
                <li>Deadlifts</li>
            </ul>
        </div>
    </div>
</div>

<div class="weekly-status">
    <h1>Weekly Status</h1>
    <div>
        <div class="weekly-status-box">
            <h4>Finished</h4>
            <h1>8</h1>
            <h3>Workouts</h3>
        </div>
        <div>
            <div class="weekly-status-box">
                <h4>In Progress</h4>
                <h1>10</h1>
                <h3>Workouts</h3>
            </div>
            <div class="weekly-status-box">
                <h4>Time Completed</h4>
                <h1>78</h1>
                <h3>Minutes</h3>
            </div>
        </div>
    </div>
</div>