@{
    ViewData["Title"] = "My Workouts";
}

@section css{
    <link rel="stylesheet" href="~/css/workout.css" asp-append-version="true" />
}

<div class="workout-header">
    <h1 style="font-weight: bold; font-size:27px;">My Workouts</h1>
    <div class="workout-header-btns">
        <i class="fa-solid fa-filter fa-xl"></i>
        <a href="@Url.Action("AddWorkout", "Workout")"><i class="fa-solid fa-circle-plus fa-xl"></i></a>
    </div>
</div>