@{
    ViewData["Title"] = "My Workouts";
}

@section css{
    <link rel="stylesheet" href="~/css/workout.css" asp-append-version="true" />
}

@model List<WorkoutModel>

<div class="workout-header">
    <h1 style="font-weight: bold; font-size:27px;">My Workouts</h1>
    <div class="workout-header-btns">
        <i class="fa-solid fa-filter fa-xl"></i>
        <a href="@Url.Action("AddWorkout", "Workout")"><i class="fa-solid fa-circle-plus fa-xl"></i></a>
    </div>
</div>

@if(Model != null && Model.Count > 0) {
    @foreach (WorkoutModel workout in Model)
    {
        <div class="workout-list">
            <h3>@workout.Date?.ToString("dddd, MMMM dd")</h3>
            <div>
                <ul>
                    @foreach (ExerciseModel exercise in workout.Exercises)
                    {
                        <li>@exercise.Name</li>
                    }
                </ul>
            </div>
        </div>
    }
} else {
    <h3>No workouts to display.</h3>
}

